/*
Chat App Landing Page CSS
*/

/* Main */

body{
  position: relative;
}

.center{
  margin: 0 auto;
}

/* Navbar */
nav{
  padding-top: 22px;
  padding-left: 133px;
  color: #fff;
}

nav .logo{
	height: 39px;
	width: 144px;
	color: #FFFFFF;
	font-family: ".SF NS Display";
	font-size: 32px;
	line-height: 38px;
}

nav a{
  padding-left: 50px;
  padding-right: 50px;
}
/* Header */

header{
	height: 580px;
	background: linear-gradient(315deg, #764BA2 0%, #667EEA 100%);
}

#hero h1{
  height: 88px;
  width: 476px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 36px;
	line-height: 43px;
}

#hero p{
  height: 99px;
  width: 559px;
  color: #FFFFFF;
  font-family: ".SF NS Display";
  font-size: 24px;
  line-height: 28px;
}
/* Section Feature */
.feature{
  height: 640px;
}

.feature h2{
  margin: 0;
  padding: 56px 0 58px 0;
}

.feature img{
  margin: 0 auto;
  display: block;
}

.feature h3{
	color: #434343;
	font-family: Montserrat;
	font-size: 30px;
	line-height: 36px;
  text-align: center;
}

.feature p {
	color: #7A7A7A;
	font-family: ".SF NS Display";
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}


/* Section How It Works*/
.howrks{
  min-height: 780px;
  background-color: #F5F5F5;
}

/* Section Download */
.download{
  min-height: 570px;
}

.download-now{
  margin-top: 76px;
}


.download-right{
  top: 200px;
}

.download-right img{
  padding: 10px;
}

.download-left img{
  padding-left: 20%;
}

/* Press */
.press {
	min-height: 152px;
	background-color: #D2D2D2;
  padding-top: auto;
}

.logos{
  padding: 40px 50px 50px 40px;
  margin: 0 auto;
}

.logos img{
  padding: 0 50px 0 50px;
}

/* Footer */
footer{
  min-height: 310px;
  color: #fff;
  background-color: #6E5694;
  text-align: left;
}

footer ul{
  padding-left: 0;
}

footer p{
  font-size: 18px;
  padding-top: 24px;
}

.footer-list{
  list-style-type: none;
  color: #fff;
  padding-top: 24px
}

.footer-list a{
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  font-size: 18px;
}

/* Responsive */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {

}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {

}
